### Import Libraries

In [1]:
import pandas as pd
import requests
import io
import geopandas as gpd
import matplotlib.pyplot as plt
import PIL
from PIL import Image
import pathlib

### Access Data from John's Hopskin GitHib

In [2]:
url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
download = requests.get(url).content
data = pd.read_csv(io.StringIO(download.decode('utf-8')))
data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21,2/8/21,2/9/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,55023,55059,55121,55174,55231,55265,55330,55335,55359,55384
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,78127,78992,79934,80941,81993,83082,84212,85336,86289,87528
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,107339,107578,107841,108116,108381,108629,108629,109088,109313,109559
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,9937,9972,10017,10070,10137,10172,10206,10251,10275,10312
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,19796,19829,19900,19937,19996,20030,20062,20086,20112,20163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,1817,1850,1882,1948,1957,1976,1985,2001,2050,2064
269,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,158962,159443,159956,160426,161087,161559,162029,162601,163213,163975
270,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2121,2122,2122,2122,2122,2124,2127,2127,2131,2131
271,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,54217,55042,56233,57489,59003,60427,61427,62633,63573,64610
272,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,33388,33548,33814,33964,34171,34331,34487,34552,34658,34781

### Cleaning up the Data

In [3]:
data = data.groupby('Country/Region').sum()
data = data.drop(columns= ['Lat', 'Long'])
data

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21,2/8/21,2/9/21
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,55023,55059,55121,55174,55231,55265,55330,55335,55359,55384
Albania,0,0,0,0,0,0,0,0,0,0,...,78127,78992,79934,80941,81993,83082,84212,85336,86289,87528
Algeria,0,0,0,0,0,0,0,0,0,0,...,107339,107578,107841,108116,108381,108629,108629,109088,109313,109559
Andorra,0,0,0,0,0,0,0,0,0,0,...,9937,9972,10017,10070,10137,10172,10206,10251,10275,10312
Angola,0,0,0,0,0,0,0,0,0,0,...,19796,19829,19900,19937,19996,20030,20062,20086,20112,20163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,0,2,2,2,2,2,2,2,2,2,...,1817,1850,1882,1948,1957,1976,1985,2001,2050,2064
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,158962,159443,159956,160426,161087,161559,162029,162601,163213,163975
Yemen,0,0,0,0,0,0,0,0,0,0,...,2121,2122,2122,2122,2122,2124,2127,2127,2131,2131
Zambia,0,0,0,0,0,0,0,0,0,0,...,54217,55042,56233,57489,59003,60427,61427,62633,63573,64610
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,33388,33548,33814,33964,34171,34331,34487,34552,34658,34781

### Read World Map Shape Files

In [4]:
world = gpd.read_file(r'./Mapping_Resource/World_Map.shp')
world

,NAME,geometry
0,Antigua and Barbuda,"MULTIPOLYGON (((-61.68667 17.02444, -61.73806 ..."
1,Algeria,"POLYGON ((2.96361 36.80222, 2.98139 36.80694, ..."
2,Azerbaijan,"MULTIPOLYGON (((45.08332 39.76804, 45.26639 39..."
3,Albania,"POLYGON ((19.43621 41.02107, 19.45055 41.06000..."
4,Armenia,"MULTIPOLYGON (((45.57305 40.63249, 45.52888 40..."
...,...,...
240,Saint Barthelemy,"POLYGON ((-63.02834 18.01555, -63.03334 18.015..."
241,Guernsey,"POLYGON ((-2.59083 49.42249, -2.59722 49.42249..."
242,Jersey,"POLYGON ((-2.01500 49.21416, -2.02111 49.17722..."
243,South Georgia South Sandwich Islands,"MULTIPOLYGON (((-27.32584 -59.42722, -27.29806..."
244,Taiwan,"MULTIPOLYGON (((121.57639 22.00139, 121.57027 ..."

### Checking if the country names exist in the Map and Data

In [5]:
def checkIfExists():
    for index, row in data.iterrows():
        if index not in world['NAME'].to_list():
            print(index + ' is not in the list of countries of the shapefile')
        else:
            pass
checkIfExists()

Brunei is not in the list of countries of the shapefile
Cabo Verde is not in the list of countries of the shapefile
Congo (Brazzaville) is not in the list of countries of the shapefile
Congo (Kinshasa) is not in the list of countries of the shapefile
Czechia is not in the list of countries of the shapefile
Diamond Princess is not in the list of countries of the shapefile
Eswatini is not in the list of countries of the shapefile
Holy See is not in the list of countries of the shapefile
Iran is not in the list of countries of the shapefile
Korea, South is not in the list of countries of the shapefile
Kosovo is not in the list of countries of the shapefile
Laos is not in the list of countries of the shapefile
Libya is not in the list of countries of the shapefile
MS Zaandam is not in the list of countries of the shapefile
Micronesia is not in the list of countries of the shapefile
Moldova is not in the list of countries of the shapefile
North Macedonia is not in the list of countries of the shapefile
South Sudan is not in the list of countries of the shapefile
Syria is not in the list of countries of the shapefile
Taiwan* is not in the list of countries of the shapefile
Tanzania is not in the list of countries of the shapefile
US is not in the list of countries of the shapefile
Vietnam is not in the list of countries of the shapefile
West Bank and Gaza is not in the list of countries of the shapefile

### Fix the error in the World Shapefile

In [6]:
world.replace('Viet Nam', 'Vietnam', inplace = True)
world.replace('Brunei Darussalam', 'Brunei', inplace = True)
world.replace('Cape Verde', 'Cabo Verde', inplace = True)
world.replace('Democratic Republic of the Congo', 'Congo (Kinshasa)', inplace = True)
world.replace('Congo', 'Congo (Brazzaville)', inplace = True)
world.replace('Czech Republic', 'Czechia', inplace = True)
world.replace('Swaziland', 'Eswatini', inplace = True)
world.replace('Iran (Islamic Republic of)', 'Iran', inplace = True)
world.replace('Korea, Republic of', 'Korea, South', inplace = True)
world.replace("Lao People's Democratic Republic", 'Laos', inplace = True)
world.replace('Libyan Arab Jamahiriya', 'Libya', inplace = True)
world.replace('Republic of Moldova', 'Moldova', inplace = True)
world.replace('The former Yugoslav Republic of Macedonia', 'North Macedonia', inplace = True)
world.replace('Syrian Arab Republic', 'Syria', inplace = True)
world.replace('Taiwan', 'Taiwan*', inplace = True)
world.replace('United Republic of Tanzania', 'Tanzania', inplace = True)
world.replace('United States', 'US', inplace = True)
world.replace('Palestine', 'West Bank and Gaza', inplace = True)
world.replace('Holy See (Vatican City)', 'Holy See', inplace = True)
world.replace('Micronesia, Federated States of', 'Micronesia', inplace = True)

checkIfExists()

Diamond Princess is not in the list of countries of the shapefile
Kosovo is not in the list of countries of the shapefile
MS Zaandam is not in the list of countries of the shapefile
South Sudan is not in the list of countries of the shapefile

### Merging the the world and data file

In [7]:
merged = world.join(data, on='NAME', how='right')
merged

,NAME,geometry,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,1/31/21,2/1/21,2/2/21,2/3/21,2/4/21,2/5/21,2/6/21,2/7/21,2/8/21,2/9/21
30.0,Afghanistan,"POLYGON ((74.91574 37.23733, 74.83221 37.22041...",0,0,0,0,0,0,0,0,...,55023,55059,55121,55174,55231,55265,55330,55335,55359,55384
3.0,Albania,"POLYGON ((19.43621 41.02107, 19.45055 41.06000...",0,0,0,0,0,0,0,0,...,78127,78992,79934,80941,81993,83082,84212,85336,86289,87528
1.0,Algeria,"POLYGON ((2.96361 36.80222, 2.98139 36.80694, ...",0,0,0,0,0,0,0,0,...,107339,107578,107841,108116,108381,108629,108629,109088,109313,109559
132.0,Andorra,"POLYGON ((1.78172 42.56996, 1.77472 42.57111, ...",0,0,0,0,0,0,0,0,...,9937,9972,10017,10070,10137,10172,10206,10251,10275,10312
5.0,Angola,"MULTIPOLYGON (((11.75083 -16.75528, 11.77500 -...",0,0,0,0,0,0,0,0,...,19796,19829,19900,19937,19996,20030,20062,20086,20112,20163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214.0,Vietnam,"MULTIPOLYGON (((106.60027 8.64778, 106.59248 8...",0,2,2,2,2,2,2,2,...,1817,1850,1882,1948,1957,1976,1985,2001,2050,2064
138.0,West Bank and Gaza,"MULTIPOLYGON (((34.33416 31.25972, 34.26758 31...",0,0,0,0,0,0,0,0,...,158962,159443,159956,160426,161087,161559,162029,162601,163213,163975
220.0,Yemen,"MULTIPOLYGON (((53.34083 12.10889, 53.33694 12...",0,0,0,0,0,0,0,0,...,2121,2122,2122,2122,2122,2124,2127,2127,2131,2131
221.0,Zambia,"POLYGON ((24.97000 -17.55972, 24.91250 -17.540...",0,0,0,0,0,0,0,0,...,54217,55042,56233,57489,59003,60427,61427,62633,63573,64610
222.0,Zimbabwe,"POLYGON ((32.98781 -17.26500, 32.99083 -17.300...",0,0,0,0,0,0,0,0,...,33388,33548,33814,33964,34171,34331,34487,34552,34658,34781

### Deleting unused variables

In [8]:
del url
del download
del data
del world
del checkIfExists

### Creating the plot and saving the images

In [9]:
frames = []

def addFrames(path):
    frames.append(Image.open(path))

for dates in merged.columns.to_list()[2:len(merged.columns.to_list())]:
    path = pathlib.Path('./Covid-Time-Pictures/img-' + dates.replace("/","-") + '.png')
    if not path.exists():
        ax = merged.plot(column = dates,
                         cmap = 'YlOrRd',
                         figsize = (27,27),
                         legend = True,
                         scheme = 'user_defined',
                         classification_kwds = {
                             'bins': [10, 100, 500, 1000, 10000, 500000, 1000000, 10000000, 15000000, 20000000]},
                         edgecolor = 'black',
                         linewidth = 0.4)

        ax.set_title('Total Confirmed COVID-19 Cases on ' + dates,
                     fontdict = {'fontsize': 20},
                     pad = 12.5)

        ax.set_axis_off()

        ax.get_legend().set_bbox_to_anchor((0.18, 0.6))

        img = ax.get_figure()   
        img.savefig("./Covid-Time-Pictures/img-" + dates.replace("/","-") + ".png", format = 'png', bbox_inches='tight')
        ax.clear()
        plt.close(img)
        del ax
        del img    
    addFrames("./Covid-Time-Pictures/img-" + dates.replace("/","-") + ".png")        
    del path
del dates

### Deleting unused DataFrame

In [10]:
del merged

### Creating a GIF from the images

In [11]:
frames[0].save('Dynamic-COVID-19-Map.gif',
               format='GIF',
               append_images=frames[1:],
               save_all=True,
               duration=300,
               loop=1)
del frames

### Display the GIF

In [12]:
from IPython.display import HTML
HTML('<img src="Dynamic-COVID-19-Map.gif">')

### The End